@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container"> </div>

    <div class="mt-4 p-5 bg-primary" text-white rounded>
        <h1 class="display-3">Welcome to Coding Factory</h1>
        <p class="lead">We create professional programmers</p>
        <hr />

        <p>
            It's @Model.CurrentDay! Time to code!

        </p>

        <a class="btn btn-secondary" href="www.google.com">Google</a>

    </div>
</div>
